#left {
    background-position-x: 50%;
    background-size: cover;
    left: -7%;
    box-shadow: 5px 0 20px 0 rgba(0,0,0,0.75);
    z-index: -7;
}

#left:hover .npo-menu {
    left: 0;
}

#middle {
    background-color: #336885;
    left: 31%;
    box-shadow: 5px 0 20px 0 rgba(0,0,0,0.75);
    z-index: -8;
}

#right {
    background-color: #407E9F;
    left: 69%;
    z-index: -9;
}

.panel {
    width: 38%;
    height: 100%;
    transform: skew(-15deg);
    position: absolute;
}

.reset {
  transform: skew(15deg);
}