


.user-info{
    float: right;
    display: flex;
    margin-right:5px;
    color:white;
}

.user-pic{
    height:50px;
    padding: 3px;
    box-sizing: border-box;
}   
.user-pic img{
    border-radius: 50px;
    height: 100%;
}

.user-name{
    align-self: center;
    padding: 0 10px 0 5px;
}
.user-vcoins{
    display: flex;
    align-self: center;
    align-items: center;
}

.user-vcoins .coinLogo img{
    width:20px;
    height: 20px;
    margin-top: 3px;
}
.user-vcoins .coins{
    margin: 2px 3px 0 10px;
}
.spacer{
    background: rgba(255,255,255,0.3);
    margin-top:10px;
    height: 30px;
    width: 1px;
}