

.store{
    background: #336885;
    width: 100%;
    height: 100%;
    position: relative;
}

.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 10px;
    
    width: 100%;
    height: 100%;
    overflow: auto;
}

.products .product{
    width:450px;
    height: 180px;
    background: #1D3F52;
    margin: 10px 10px;
    display: flex;
    overflow: hidden;
    box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.75);
    position: relative;
}

.products .product .product-image{
    background: black;
    transform:   skew(-15deg);
    overflow: hidden;
    position: relative;
    left:-50px;
    width:350px;
    box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.75);
}

.products .product .product-image img{
    transform:   skew(15deg);
    height: 100%;
    width: 200px;
    position: relative;
    left: 38px;

}

.product-info{
    position: relative;
    left: -40px;
    width:350px;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.product-info .header{
    font-size: 18px;
    color:#c6c6c6;
    margin-left:20px;
}

.product-info .description{
    color:#fdfdfd;
    margin-left:10px;
}

.product .buy-button{
    position: absolute;
    bottom: 0;
    width: 357px;
    transform: skew(-77deg);
    height: 73px;
    right: -212px;
    background: #132C39;
    cursor: pointer;
    transition: 0.5s ease;
    box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.75);
    font-weight: bold;
}

.product .buy-button:hover{
    background: #0b181f;
}

.product .buy-button .inner-button{
    transform: skew(77deg);
    position: relative;
    top:20px;
    left: 95px;
    width: 50px;
    text-align: center;
    color:#c6c6c6;
}

.product .buy-button .inner-button img{
    height: 20px;
    width: 20px;
    margin-left: 2px;
}

.cost{
    display: flex;
}

.cost .price{
    margin-top: 2px;
    margin-right: 1px;
}


.store .modal{
    position: absolute;
    top:0;
    left:0;
    background: rgba(0,0,0,0.3);
    width:100%;
    height:100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
}

.store .modal .not-enough{
    position: relative;
    margin-top:30px;
    width:500px;
    height: 150px;
    background: #407E9F;
    box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.75);
}

.store .modal .not-enough.buying{
    position: relative;
    margin-top:30px;
    width:500px;
    height: 250px;
    background: #407E9F;
    box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.75);
}

.store .modal .not-enough header{
    color:white;
    background: #132C39;
    padding: 5px;
    font-size: 18px;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
}

.not-enough-content{
    color:white;
    margin-top:10px;
}

.not-enough .x {
    position: absolute;
    background: #132C39;
    color:white;
    cursor: pointer;
    top:5px;
    right:5px;
}

.not-enough a{
    text-decoration: none;
}

.not-enough .volunteer-button{
    color:white;
    background: #1D3F52;
    cursor: pointer;
    font-size: 18px;
    width: 200px;
    padding: 5px;
    margin: 0 auto;
    margin-top: 21px;
    box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.75);
    text-decoration: none;
}

.vbutton{
    width: 200px;
    margin: 0 auto;
}

.product-key-header{
    margin-top:5px;
    color:white;
}
.product-key{
    margin-top:10px;
    color:white;
    font-size: 20px;
}

.product-key-container{
    margin-top:60px;
}