.npo-menu-item {
    color: #fefefe;
    background-color: rgba(0, 0, 0, 0.5);
}

.npo-menu-item-name {
    text-align: right;
    letter-spacing: 3px;
    margin-right: 5px;
    direction: rtl;
    line-height: 1.2;
    cursor: pointer;
}

.npo-menu-item-volunteers {
    max-height: 390px;
    overflow-y: auto;
}

.npo-menu-item-volunteers::-webkit-scrollbar {
    width: 1em;
}
 
.npo-menu-item-volunteers::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.npo-menu-item-volunteers::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.npo-menu-item-volunteer {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.25);
    cursor: pointer;
    text-align: right;
}