.management{
    background: #28546C;
    width: 100%;
    height: 100%;
    position: absolute;
    direction: rtl;
    color: white;
    letter-spacing: 3px;
    margin-right: 5px;
    direction: rtl;
    line-height: 1.2;
}

.management .Dropdown-root:first-child {
    margin-top: 100px;
    margin-bottom: 20px;
}


.Dropdown-root {
    position: relative;
    text-align: right;
}

.Dropdown-control {
    position: relative;
    width: 40%;
    overflow: hidden;
    background-color: #1D3F52;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    color: white;
    cursor: default;
    outline: none;
    padding: 8px 10px 8px 10px;
    transition: all 200ms ease;
    margin: 0 auto;
}

.Dropdown-control:hover {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

.Dropdown-arrow {
    border-color: #999 transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    content: ' ';
    display: block;
    height: 0;
    margin-top: -ceil(2.5);
    position: absolute;
    left: 10px;
    top: 14px;
    width: 0
}

.is-open .Dropdown-arrow {
    border-color: transparent transparent #999;
    border-width: 0 5px 5px;
}

.Dropdown-menu {
    background-color: #132C39;
    border: 1px solid #ccc;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    max-height: 200px;
    overflow-y: auto;
    top: 100%;
    width: 40%;
    z-index: 1000;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}

.Dropdown-menu .Dropdown-group > .Dropdown-title {
    padding: 8px 10px;
    color: rgba(51, 51, 51, 1.2);
    font-weight: bold;
    text-transform: capitalize;
}

.Dropdown-option {
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: block;
    padding: 8px 10px;
}

.Dropdown-option:last-child {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.Dropdown-option:hover {
    background-color: #f2f9fc;
    color: #333;
}

.Dropdown-option.is-selected {
    background-color: #f2f9fc;
    color: #333;
}

.Dropdown-noresults {
    box-sizing: border-box;
    color: #ccc;
    cursor: default;
    display: block;
    padding: 8px 10px;
}

.volunteering-and-users {
    margin-top: 10px;
}