.users {
    width: 100%;
    height: 100%;
    position: relative;
    width: 40%;
    padding: 10px;
    box-sizing: border-box;
    margin: auto;
    background-color: #3f7e9f;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top: 2px solid #1D3F52;
    border-bottom: 2px solid #1D3F52;
}

.single-user{
    direction: ltr;
    margin-right: 5px;
}

.user-img {
    border-radius: 50px;
}