.volunteer {
    color: #fefefe;
    height: 100%;
    width: 100%;
}

.volunteer-title {
    width: 69%
}

.volunteer-description {
    text-align: right;
    letter-spacing: 3px;
    margin-right: 5px;
    direction: rtl;
    line-height: 1.2;
    width: 69%
}

.info-title {
    text-align: right;
    letter-spacing: 3px;
    width: 69%;
}

.vcoin {
    width: 20px;
    height: 20px;
    z-index: 999;
    position: absolute;
    margin-right: 5px;
    filter: brightness(0) invert(1);
}

.register-to-volunteer {
    position: absolute;
    background-color: #132C39;
    color: #407E9F;
    bottom: 0;
    width: 100%;
    box-shadow: 5px 0 20px 0 rgba(0,0,0,0.75);
    height: 50px;
    line-height: 50px;
    font-size: 32px;
    font-weight: bold;
    transition: background-color 0.5s ease;
}

.register-to-volunteer:hover {
    background-color: #09374f;
    color: #5394b6;
}

.enabled {
    cursor: pointer;
}

.disabled {
    cursor: not-allowed;
}
