.fa-facebook {
    float: left !important;
}

.kep-login-facebook.small {
    margin-right: 5px;
    margin-top: 5px;
}

.navbar {
    direction: rtl;
    height: 50px;
    width: 100%;
    background-color: #28546C;
    box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75);
    display: flex;
    justify-content: space-between;
}

.navbar .left-side {
    display: flex;
}

.navbar .logo {
    height: 50px;
}

.navbar .links {
    margin-left: 10px; 
    display: flex;
    align-self: center;
    margin-left: 5px;
}

.navbar .links a {
    text-decoration: none;
}

.navbar .links .link {
    border: 1px solid rgba(255,255,255,0.3);
    padding: 0 6px;
    color: white;
    text-decoration: none;
    transform: skew(20deg);
    padding: 3px 6px;
    transition: background-color 0.5s ease;
}

.navbar .links .link:hover {
    background-color: #336885;
}

.navbar .links .link .reset{
    transform: skew(-20deg)
}