


.create-valunteering{
    background: #336885;
    height: calc(100%);

    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    direction: rtl;
}


.input{
    width:500px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    padding:5px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

.input input{
    width:200px;
    transform: skew(15deg);
}
.input select{
    width:204px;
    transform: skew(15deg);
}

.save-button{
    margin-top:5px;
    padding:5px;
    width:500px;
    color:white;
    cursor: pointer;
    background: #1D3F52;
    transform: skew(15deg);
}
