.npo-menu {
    left: -100%;
    z-index: -1;
    background-color: rgba(0,0,0,0.4);
    transition: left 0.5s ease;
    width: 100%;
    height: 100%;
    position: absolute;
}

.npo-menu-title {
    color: #fefefe;
}